* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: #5fabf3;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  animation: troca 5s ease forwards;
}

@keyframes troca {
  0% {
    background-color: #5fabf3;
  }
  100% {
    background-color: #ec1919;
  }
}
