nav {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #245e8a;
}
nav li {
  display: inline;
}
nav li a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  position: relative;
}
nav li a::after {
  content: " ";
  width: 0%;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
nav li a:hover::after {
  width: 100%;
  background-color: white;
}
.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}
.seta {
  color: white;
  transition: all 1s;
}
.dropdown:hover .seta {
  color: red;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #245e8a;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  /* box-shadow: 0px 2px 2px black; */
}
.dropdown-menu a {
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 650px) {
  nav{
    height: 60px;
  }
nav li a{
  font-size: 0.8rem;
}
.seta{
  font-size: 0.7rem;
}
}
