.secao {
  margin-block: 5vh;
  padding-inline: 10vh;
  width: 100%;
  height: auto;
  gap: 20vw;
  display: flex;
  flex-direction: row;
}
/* .secao a{
margin-left: 50%;
} */

.marvel {
  /* box-shadow: 0 1px 20px 2px black; */
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-inline: 30px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 10px;
  width: 40%;
  height: 100%;
  text-align: left;
  background-color: #f42b2b90;
  padding-block: 5vh;
}
.inicio {
  height: auto;
  width: 100%;
  /* background-color: black; */
  /* position: relative; */
}
.inicio p {
  color: white;
  font-size: 1.6rem;
}
.restante {
  display: none;
  /* position: absolute;
  left: -150%; */
  /* background-color: white; */
  color: red;
  height: auto;
  width: 100%;
}
.marvel .info-marvel {
  border: none;
  background-color: transparent;
  /* opacity: 0; */
  cursor: pointer;
  font-size: 2rem;
  transition: 0.5s ease-in-out;
}
.info-marvel .seta:hover {
  padding-block: 7px;
  padding-inline: 10px;
  border-radius: 85%;
  color: red;
  background-color: white;
}
.seta {
  transition: all 1s;
  transform: 0;
}
.marvel img {
  width: 400px;
  height: auto;
}
.Marvel-button {
  height: 10%;
  width: auto;
  background-color: #f60b0b;
  font-size: 1.4rem;
  border: none;
  margin-left: 50%;
  border-radius: 10px;
  display: flex;
}
.Marvel-button a {
  padding-inline: 50px;
  padding-block: 10px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.Marvel-button .seta {
  margin-top: 5px;
  font-size: 25px;
}
.Marvel-button:hover .seta {
  margin-left: 10px;
}
.Marvel-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.dc {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-inline: 24px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 10px;
  width: 40%;
  height: 100%;
  padding-block: 5vh;
  text-align: left;
  background-color: #4784f490;
}
.DC-button p {
  color: white;
  font-size: 1.6rem;
}
.dc .DC-info {
  border: none;
  background-color: transparent;
  /* opacity: 0; */
  font-size: 2rem;
  transition: 0.5s ease-in-out;
}
.DC-info .seta:hover {
  padding-block: 7px;
  padding-inline: 10px;
  border-radius: 85%;
  color: red;
  background-color: white;
}
.dc img {
  width: 200px;
  height: auto;
}

.DC-button {
  height: 10%;
  width: auto;
  background-color: #2386d2;
  font-size: 1.4rem;
  border: none;
  margin-left: 50%;
  border-radius: 10px;
  display: flex;
}
.DC-button a {
  padding-inline: 50px;
  padding-block: 10px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.inicioDC {
  height: auto;
  width: 100%;
  color: white;
  font-size: 1.6rem;
}
.DCrestante {
  display: none;
  height: auto;
  width: 100%;
}
.DC-button .seta {
  margin-top: 3px;
  font-size: 25px;
}
.DC-button:hover .seta {
  margin-left: 10px;
}
.DC-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.secao-herois {
  margin-top: 10vh;
  height: auto;
}
@media (max-width: 1080px) {
  .secao {
    margin-block: 5vh;
    padding-inline: 5vh;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .marvel {
    width: 85%;
    gap: 20px;
  }
  .dc {
    width: 85%;
    gap: 20px;
  }

  @media (max-width: 650px) {
    .marvel {
      padding-block: 2vh;
    }

    .marvel img {
      width: 250px;
    }
    .inicio p {
      font-size: 1rem;
    }
    .Marvel-button {
      font-size: 1rem;
      margin-left: 30%;
    }
    .Marvel-button a {
      padding-block: 10px;
      padding-inline: 30px;
    }
    .Marvel-button .seta {
      font-size: 1rem;
    }
    .secao {
      padding-inline: 0;
    }
    .dc {
      padding-block: 2vh;
    }
    .dc img {
      width: 150px;
    }
    .DC-button {
      font-size: 1rem;
      margin-left: 30%;
    }
    .DC-button p {
      font-size: 1rem;
    }
    .DC-button a{
      padding-block: 10px;
      padding-inline: 30px;
    }
    .DC-button .seta {
      font-size: 1rem;
    }
    .inicioDC {
      font-size: 1rem;
    }
  }
}
