footer {
  margin-top: 10vh;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background-color: #3a51c5;
}
.info-site {
  width: 100%;
  height: 85%;
  display: grid;
  padding-inline: 10vw;
  grid-template-columns: repeat(4, 1fr);
}
.sobre {
  height: 100%;
}
.sobre .info-conteudo {
  border-left: 3px solid black;
}
.info-conteudo .icone {
  font-size: 2rem;
  color: white;
}

.info-conteudo {
  border-right: 3px solid black;
  /* grid-row: 3/4; */
  height: 80%;
  /* background-color: rgb(37, 164, 105); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  padding-top: 20px;
}
.info-conteudo li {
  padding-left: 10%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.info-conteudo li a {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: relative;
}

.info-conteudo li a::after {
  content: " ";
  width: 0%;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.info-conteudo li a:hover::after {
  width: 100%;
  background-color: aliceblue;
}
.info-conteudo ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  /* background-color: blue; */
  width: 100%;
  height: auto;
  /* gap: 10px; */
}

.info-conteudo li .mapa {
  font-size: 2rem;
  color: white;
}
.info-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(37, 164, 105); */
  height: 20%;
}
.info-titulo h3 {
  font-size: 2.5rem;
  font-weight: 800;

  color: white;
}

.refereces {
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.api {
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.social {
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.autor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}
.autor p {
  color: white;
  transition: all 1s;
  font-size: 1.5rem;
}
.autor p:hover {
  color: red;
}

@media (max-width: 1020px) {
  footer {
    height: 25vh;
  }
  .info-site {
    padding-inline: 5vw;
  }
  .info-titulo h3 {
    font-size: 1.8rem;
  }
  .info-conteudo li .mapa {
    font-size: 1.5rem;
  }
  .info-conteudo li a {
    font-size: 1rem;
  }
  .info-conteudo .icone {
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  footer {
    height: auto;
    gap: 2vh;
    padding-block: 2vh;
      margin-top: 5vh;
  }
  .info-titulo h3 {
    font-size: 1.3rem;
  }
  .info-conteudo li a {
    font-size: 0.9rem;
  }
  .info-site {
    grid-template-columns: 1fr;
  }
  .info-conteudo {
    /* margin-top: 2vh; */
    height: auto;
    padding-bottom: 2vh;
    border-bottom: 3px solid white;
    border-right: 0;
  }
  .sobre .info-conteudo {
    border-left: 0;
  }
  .autor{
    padding-block: 10px;
  }
  .autor p{
    font-size: 1rem;
  }
}
