.container-heroi {
  height: auto;
  padding-inline: 5vw;
  width: 100vw;
  padding-top: 5vh;
  /* background-color: aqua; */
}
.heroi {
  width: 100%;
  height: auto;
}
.nome {
 position: relative;
  height: auto;
  padding-bottom: 10px;
}
.nome::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  animation:borda 4s ease forwards;
}
.nome h1 {
  color: white;
  font-size: 4rem;
}
.info-heroi {
  margin-top: 5vh;
  display: flex;
  /* background-color: aquamarine; */
  height: auto;
  padding-block: 3vh;
  width: 100%;
}
.personagem {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* background-color: black; */
  width: 30%;
}
.personagem img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 85%;
}
.status {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  padding-block: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  gap: 2vh;
  background-color:#3C6ABF;

  padding-top: 20px;
}
.status h2{
    color: white;
    font-size: 2.5rem;
}
.status ul{
    display: flex;
    padding-right: 100px;
    flex-direction: column;
    gap: 1vh;
}
.status li {
  position: relative;
  color: white;
  font-size: 1.8rem;
}
.status li::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  animation:borda 4s ease forwards;
}
@keyframes borda{
  0% {
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
.dados {
  width: 65%;
  display: grid;
  gap: 2vh;
  grid-template-columns: repeat(1fr, 3);
  height: auto;
}
.biografia {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: none;
  gap: 2vh;
  padding-bottom: 10px;
  position: relative;
}
.biografia::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  animation:borda 4s ease forwards;
}
.aparencia{
    display: flex;
    gap: 2vh;
    flex-direction: column;
}
.aparencia h3 {
  font-size: 2rem;
}
.aparencia ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.aparencia ul li {
  font-size: 1.5rem;
}
.bio {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: none;
}
.bio ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.bio ul li {
  font-size: 1.5rem;
}
.bio h3 {
  font-size: 2rem;
}
.bio h3 {
  font-size: 2rem;
}
.alianca ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
}
.criacao{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.criacao ul{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.trabalho {
  color: white;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  background-color: none;
  padding-bottom: 15px;
  position: relative;
}
.trabalho::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  animation:borda 4s ease forwards;
}


.biografia h2 {
  color: white;
  font-size: 2.8rem;
}
.trabalho h2 {
  color: white;
  font-size: 2.8rem;
}
.trabalho ul{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.trabalho ul h3{
font-size: 1.8rem;
}
.trabalho ul li {
  font-size: 1.5rem;
}
.conexao {
  position: relative;
  color: white;
  /* background-color: rgb(17, 255, 0); */
}
.conexao::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  animation:borda 4s ease forwards;
}
.conexao h2 {
  color: white;
  font-size: 2.8rem;
}
.connections {
  padding-block: 20px;
  /* background-color: aqua; */
}

.connections h3 {
  font-size: 2rem;
}
.connections ul li {
  font-size: 1.5rem;
}
.connections ul{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
/* .afiliacao{

} */
